*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --clr-cyan-dark: hsl(185, 75%, 39%);
    --clr-blue-dark:hsl(229, 23%, 23%);
    --clr-dark-greysh-blue: hsl(227, 10%, 46%);
}
body{
    background-color:var(--clr-cyan-dark);
    background-image: url(./images/bg-pattern-top.svg),url(./images/bg-pattern-bottom.svg);
    background-repeat: no-repeat,no-repeat;
    background-size: 60%;
    background-position: left -25% top -20%,right -25% bottom -20%;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.card{
    height: 450px;
    width: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;

    background-image: url(./images/bg-pattern-card.svg);
    background-size: 100% 30%;
    background-repeat: no-repeat;
    position: relative;
}
.card>img{
    border-radius: 50%;
    border:10px solid rgba(251, 246, 246, 0.972);
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%);
}
.intro{
    position: absolute;
    left: 50%;
    top: 48%;
    color: var(--clr-blue-dark);
    transform: translate(-50%,0%);
    font-weight: 600;
}
span{
    color: var(--clr-dark-greysh-blue);
}
.card>p{
    position: absolute;
    left: 50%;
    top: 58%;
    transform: translate(-50%);
    color: var(--clr-dark-greysh-blue);
}
.info_number{
    position: absolute;
    bottom: 0;
    height: 110px;
    width: 100%;
    border-radius: 0 0 30px 30px;
    border-top: 2px solid var(--clr-dark-greysh-blue);

    display: flex;
    align-items: center;
    justify-content: space-evenly;color:var(--clr-blue-dark)
}
.info_number>p::after{
    /* content: "he"; */
    position: fixed;
    top: 73%;color:var(--clr-dark-greysh-blue);
    /* left: 40%; */
    margin-left: -45px;
}
.followers::after{
    content: "Followers";
    /* margin-left: 40px; */
}
.like::after{
    content:"Likes";
}
.photo::after{
    content:"Photo";
}